<header class="nav-header">
  <div>
    <a class="navbar-brand" href="/">Quiz Maker</a>
  </div>
  <nav>
    <a class="nav-item" href="/quiz/myquiz">Login</a>
    <a class="nav-item" href="/quiz/myquiz">Register</a>
  </nav>
</header>
