<header class="nav-header">
  <div>
    <a class="navbar-brand" href="/">Quiz Maker</a>
  </div>
  <nav>
    <a class="nav-item" href="/urls">Login</a>
    <a class="nav-item" href="/urls/new">Register</a>
  </nav>
</header>
