<header class="nav-header">
  <div>
    <a class="navbar-brand" href="/">Quiz Maker</a>
  </div>
  <nav>
    <a class="nav-item" href="/quiz/myquiz">Jordan</a>
    <a class="nav-item">Log out</a>
  </nav>

</header>
