<header class="nav-header">
  <div>
    <span><a href="/">Quiz Maker</a></span>
  </div>
  <nav>
    <a class="nav-item" href="/quiz/myquiz">Log in</a>
    <a class="nav-item">Log out</a>
  </nav>

</header>
