<header class="nav-header">
  <div class="q-icon">
    <a href="http://localhost:8080/"> <i class="fa-brands fa-quora"></i></a>
    </div>
  <nav>
    <a class="nav-item" href="/quiz/myquiz">Log in</a>
    <a class="nav-item">Log out</a>
  </nav>

</header>
<head>
  <script src="https://use.fontawesome.com/44e8624826.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
