
<header class="nav-header">
  <div>
    <span>Quiz Maker</span>
  </div>
  <nav>
    <!-- <a class="nav-item" href="/urls">Login</a>
    <a class="nav-item" href="/urls/new">Register</a> -->
    <span class="nav-item">Log In</span>
  </nav>
</header>
