<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Start Quiz</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- App CSS -->
    <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
    <!-- // need to edit style sheet -->

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>

    <!-- App JS -->

  </head>

  <body>

    <section>
      <button type="submit" name="startquiz" id="startquiz">Start Quiz</button>
    </section>

  </body>
</html>
