<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Create Quiz</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/myquiz.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/quiztable.css" type="text/css" /> -->

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/myquiz.js"></script>
</head>

<body>

  <%- include('partials/header') %>

  <main class="container" id="container">


    <section id="page1">

      <div class="new-question" id="new-question">

        <form class="textbox" id="quizinfoform" action="/quiz/quizinfo" method="POST">
          <div>
            <textarea class="textbox" name="quizname" id="quizname" placeholder="Quiz name." rows="3"
              cols="67"></textarea>
          </div>
          <div><textarea class="textbox" name="quizdescription" id="quizdescription" placeholder="Quiz description."
              rows="1" cols="67"></textarea>
          </div>
          <div>
            <textarea class="textbox" name="quizisprivate" id="quizisprivate"
              placeholder="Can others view your quiz? Type 'yes' if so, type 'no' if not." rows="1"
              cols="67"></textarea>
          </div>
          <span id="error-page1" class="errormsg"></span>
          <div>
            <button class="quizadd" type="submit">Start Adding Questions</button>
          </div>
        </form>

      </div>


    </section>


    <section id="page2">
      <div id="leftside">
        <div id="leftside-child1">
          <form class="questionsform" id="questionsform" action="/quiz/questions" method="POST">
            <textarea class="textbox" name="quizquestion" id="quizquestion"
              placeholder="Please type your question here." rows="3" cols="67"></textarea>
            <textarea class="textbox" name="quizcategory" id="questioncategory" placeholder="Category of the question."
              rows="1" cols="67"></textarea>
            <textarea class="textbox" name="correctAnswer" id="correctAnswer" placeholder="Correct answer." rows="1"
              cols="67"></textarea>
            <textarea class="textbox" name="wrongAnswer1" id="wrongAnswer1" placeholder="Wrong answer." rows="1"
              cols="67"></textarea>
            <textarea class="textbox" name="wrongAnswer2" id="wrongAnswer2" placeholder="Wrong answer." rows="1"
              cols="67"></textarea>
            <span id="error-page2" class="errormsg"></span>
            <div>
              <button type="submit">Add to Quiz</button>
            </div>
          </form>
        </div>
        <div id="leftside-child2">
          <div id="leftside-child2-category">
            <nav id="categoryform" class="categoryform">
              <label id="category" for="category">Category:</label>
              <select name="categoryselect" id="categoryselect">
                <option value="defaultvalue" class="categorydefault" id="categorydefault">Select a Category</option>
                <% for(const cat of categories) { %>
                  <option>
                    <%= cat['category'] %>
                  </option>
                  <% } %>
              </select>
            </nav>
          </div>
          <div id="leftside-child2-questions">
            <section class="questions-container" id="questions-container"></section>
          </div>
        </div>
      </div>
      <div id="rightside">
        <span>
          <h3 style="margin-top: 0px;">Quiz Preview</h3>
        </span>
        <section id="myquizpreview-info"></section>
        <section class="myquiz-container" id="myquiz-container"></section>
        <button type="button" name="createquizbutton" id="createquizbutton">Create Quiz</button>
      </div>
    </section>

  </main>
</body>

</html>
