<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Create Quiz</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/myquiz.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/quiztable.css" type="text/css" />
    <!-- // need to edit style sheet -->

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/myquiz.js"></script>
  </head>

  <body>

    <!-- Page-specific (main) content here -->

    <main class="container" id="container">


      <section class="new-question" id="new-question">

        <h2 id="error"></h2>


        <form class="quizinfoform" id="quizinfoform" action="/quiz/quizinfo" method="POST">
          <!-- <label for="tweet-text">What are you humming about?</label> -->
          <div>
          <textarea class="quizform" name="quizname" id="quizname" placeholder="Quiz name" rows="3" cols="67"></textarea>
          </div>
          <div><textarea class="quizform" name="quizdescription" id="quizdescription" placeholder="Quiz description" rows="1" cols="67"></textarea>
          </div>
          <div>
          <textarea class="quizform" name="quizisprivate" id="quizisprivate" placeholder="isprivate" rows="1" cols="67"></textarea>
          </div>
          <div>
            <button class="quizadd" type="submit">Add quiz info to my quiz</button>
            <!-- <output name="counter" class="counter" id="counter" for="question-text">140</output> -->
          </div>
        </form>


        <form class="questionsform" id="questionsform" action="/quiz/questions" method="POST">
           <!-- <label for="tweet-text">What are you humming about?</label> -->
          <textarea name="quizquestion" id="quizquestion" placeholder="Please type your question here." rows="3" cols="67"></textarea>
          <textarea name="category" id="category" placeholder="Category of the question." rows="1" cols="67"></textarea>
          <textarea name="correctAnswer" id="correctAnswer" placeholder="Correct answer." rows="1" cols="67"></textarea>
          <textarea name="wrongAnswer1" id="wrongAnswer1" placeholder="Wrong answer." rows="1" cols="67"></textarea>
          <textarea name="wrongAnswer2" id="wrongAnswer2" placeholder="Wrong answer." rows="1" cols="67"></textarea>
          <div>
            <button type="submit">Add to my quiz</button>
            <!-- <output name="counter" class="counter" id="counter" for="question-text">140</output> -->
          </div>
        </form>

      </section>


      <nav id="categoryform" class="categoryform">
        <label for="Category">Category:</label>
        <select name="categoryselect" id="categoryselect">
          <option value="defaultvalue" class="categorydefault" id="categorydefault">Select a Category</option>
          <% for(const cat of categories) { %>
            <option><%= cat['category'] %></option>
        <% } %>
        </select>
      </nav>


      <section class="questions-container" id="questions-container">
      </section>

      <section class="myquiz-container" id="myquiz-container">
        <span>Quiz Preview</span>
      </section>

      <section name="createquiz" id="createquiz">

        <a href="/quiz/startquiz/<%= random %>">
          <button>Create Quiz</button>
        </a>

       </section>

      <!-- <form name="createquiz" id="createquiz" action="/quiz/kanem/startquizrandom" method="POST"></form> -->

    </main>
  </body>
</html>
