

body {
  padding-top: 180px;
  width: 100%;
  min-height: 100vh;
  background: #84c5fe;
}
.title  {
  font-size: 100px;
}

main {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main h1 {
  padding: 2rem 0 0;
  margin-bottom: 0;
  font-size: 3rem;
}

main h2 {
  font-size: 2rem;
}

.search {
  margin: 1rem;

}

table,
th,
td {
  border: 2px solid white;
  border-collapse: collapse;
}

table {
  padding-top: 1rem;
  width: 70%;
}
.myquiz {
  font-size: 20px;
  color: navy;
}
.public {
  color: azure;
  padding-top: 30px;
}
.icon {
  font-size: 50px;
  color: navy;
}
#quiz_7:hover  {
  transform: scale(1.09);
}
#quiz_6:hover  {
  transform: scale(1.09);
}
#quiz_5:hover  {
  transform: scale(1.09);
}
#quiz_4:hover  {
  transform: scale(1.09);
}
#quiz_3:hover  {
  transform: scale(1.09);
}
#quiz_2:hover  {
  transform: scale(1.09);
}
#quiz_1:hover  {
  transform: scale(1.09);
}
