/* importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "./header";


.quizform  {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  background: aliceblue;
      border: 1px solid #84c5fe;
      border-radius: 5px;
      padding: 8px 15px;
      font-size: 17px;
      margin-bottom: 15px;
}
.quizadd  {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
}
.questionsform {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  background: aliceblue;
      border: 1px solid #84c5fe;
      border-radius: 5px;
      padding: 8px 15px;
      font-size: 17px;
      margin-bottom: 15px;
}
.categoryform {
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
  background: aliceblue;
      border: 1px solid #84c5fe;
      border-radius: 5px;
      padding: 2px;
      font-size: 17px;
      margin-bottom: 8px;
}
.questionfromdb {
  display: flex;
  justify-content: space-between;
}
.questions {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5px;
  color:rgb(0, 0, 0);
  background: aliceblue;
      border: 1px solid #84c5fe;
      border-radius: 5px;
      padding: 2px;
      font-size: 17px;
      margin-bottom: 8px;
      margin-top: 5px;
}
.question {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5px;
  color:rgb(0, 0, 0);
  background: aliceblue;
      border: 1px solid #84c5fe;
      border-radius: 5px;
      padding: 2px;
      font-size: 17px;
      margin-bottom: 8px;
      margin-top: 5px;
}
.myquiz-container  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  color: black;
  background: aliceblue;
      border: 1px solid #84c5fe;
      border-radius: 5px;
      padding: 2px;
      font-size: 17px;
      margin-bottom: 8px;
}

.parent {
  border: 1px solid #84c5fe;
  margin: 5px;
  padding: 2px;
  text-align: center;
}
.child  {
  display: inline-block;
  border: 1px solid #84c5fe;
  padding: 2px;
  vertical-align: middle;
}

main-container.container {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
  border-color: white;
  .links-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .quiz-link {
      border: 1px dotted grey;
      border-radius: 5px;
      padding: 20px;
      background-color: blue;
      text-align: center;
      width: 300px;
      margin: 10px;
    }
    .quiz-link:hover {
      background-color: navy;
      color: whitesmoke;
      a {
        color: whitesmoke;
      }
    }
  }
}

