/* importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "./header";


#container {

  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#page2 {

  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;

}

#leftside {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4%;

}

#leftside-child1 {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

#questionsform {

  display: flex;
  flex-direction: column;

}

#leftside-child2 {

  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;

}

#leftside-child2-questions {

  display: flex;
  flex-direction: column;
  overflow: auto;

}

#questionfromdb {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;

}

#category {

  font-weight: bold;

}

#rightside {

  // width: ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 4%;
  // width: ;

}

#myquiz-container {
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter;
  height: 480px;
  width: 580px;
  overflow: auto;
  background-color: white;
  margin-top: 2%;
  margin-bottom: 2%;

}

// @media only screen and (max-width: 1350px) {
//   #myquiz-container {

//     // box disappear
//     width: auto;

//   }

// }

#myquizquestions::before {
  /* Decrement "my-sec-counter" by 1 */
  counter-increment: my-sec-counter 1;
  content: counter(my-sec-counter) ". ";
}

#myquizquestions {

  color: #4682b4;
  font-size: 120%;
  font-weight: bold;

}

#quizpreview-answers {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: grey;
  width: 65%;
  margin-top: 1.5%;
  margin-bottom: 3%;
  font-size: 120%;

}

#quizpreview-quizinfo {

  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

#quizpreview-quizinfo>span {

  font-weight: bold;

}

.errormsg {

  color: red;
  font-size: xx-large;

}

.textbox {

  margin-bottom: 2%;

}
